<ion-view>
    <ion-nav-title>
        {{objet.nom}}
    </ion-nav-title>
    <ion-content class="padding">
        
        <ion-slide-box on-slide-changed="onSlideChanged(index)" active-slide="currentIndex">
            <ion-slide ng-repeat="elm in objet.imgs">
                <div class="item item-image" style="background-image:url({{elm.src}})">
                    <!-- Utilisation de l'image en background pour la centrer -->
                </div>
            </div>
        </ion-slide-box>
        
        <h2>{{objet.nom}}</h2>
        
        <div class="card"> <!-- Desc + date -->
            <div class="item item-text-wrap item-outline item-light">
                <p>
                <button class="button button-calm button-float-left" href="#">{{objet.annee || 'Date inconnue'}}</button>
                {{objet.description}}
                </p>
            </div>
        </div>
        
        <!-- "Social" : notes + like -->
        <div style="text-align:right;">
            <!-- Notes -->
            <div id="notation" class="bouton-etoiles" ng-switch="nb_vote">
                <a ng-repeat="n in [1, 2, 3, 4, 5]" class="icon {{star ? '' : 'dark'}} ion-ios-star{{note >= n ? '' : '-outline'}}" stop-event ng-click="setStars({{n}})"></a> <br/>
                <ion-spinner icon="ripple" class="spinner-dark" ng-show="spinnerstar"></ion-spinner>
                <p ng-switch-when="0" ng-hide="spinnerstar">Aucune note.</p>
                <p ng-switch-when="1" ng-hide="spinnerstar">{{moy_vote}}/5 ({{nb_vote}} vote).</p>
                <p ng-switch-default ng-hide="spinnerstar">{{moy_vote}}/5 ({{nb_vote}} votes).</p>
            </div>
            
            <!-- Like -->
            <div class="button button-calm" ng-click="setLike()" ng-switch="nb_like">
                <i ng-hide="spinnerlike" class="icon ion-ios-heart{{like ? '' : '-outline'}}"></i>
                <ion-spinner icon="ripple" class="spinner-dark" ng-hide="!spinnerlike"></ion-spinner>
                <p ng-switch-when="0">Aucun like.</p>
                <p ng-switch-when="1">1 like.</p>
                <p ng-switch-default>{{nb_like}} likes.</p>
            </div>
        </div>
    </ion-content>
</ion-view>
