<ion-view view-title="Rechercher un objet">
  <ion-content class="padding"> 
    <button class="button button-block button-outline button-positive icon-left ion-qr-scanner button-home" ng-click="lireCode()">
      Scanner un QR-Code
    </button>
     <!-- Recherche par nom -->
    <div class="check-element animate-show">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input id="barsearch" type="search" placeholder="Rechercher..." ng-model="nom" ng-change="validSearch(nom,from,to,'word')">
        <!-- Loader : -->
        <ion-spinner icon="ripple" class="spinner-positive" ng-hide="spinner"></ion-spinner>
      </label>
    </div>
    
    <!-- Recherche par date -->
    <div class="check-element animate-show">
        <div class="list">
          <div class="item item-divider">Année:</div>
          <div class="item range range-positive">
          <div class="range-label">{{from}}</div>
          <ui-multi-range ng-step="1" ng-min="yearmin" ng-max="yearmax" ng-model-min="from" ng-model-max="to"  ng-change-min="validSearch(nom,from,to,'date')" ng-change-max="validSearch(nom,from,to,'date')"></ui-multi-range>
          <div class="range-label">{{to}}</div>
        </div>
      </div>
    </div> 
    <!-- <p>Année sélectionnée : {{from}}-{{to}}</p> -->
    <div ng-if="results.length==0">
<!--
      <div class="item item-text-wrap animate-show" ng-show="type=='date'">
        Entrez 3 caractères au minimum...
      </div>
-->
      <div class="item item-text-wrap animate-show"  ng-if="nom.length>2" ng-hide="nom.length<=2">
        Pas de résultat trouvé...
      </div>
    </div
    <!-- Résultat de la recherche -->
    <ion-list>
      <a ng-repeat="elm in search as results" class="item item-text-wrap item-thumbnail-left objet-item" href="#/tab/search/{{elm.id}}">
        <div class="center-cropped item-image">
          <img src="{{elm.cover}}"> <!-- tmp -->
        </div>
        <h2>{{elm.nom}}</h2>
        <p>{{elm.annee || 'Date inconnue'}}</p>
      </a>
   	</ion-list>
  </ion-content>
</ion-view>
