<ion-view title="Vitrines">
    <ion-content class="padding">
        <p ng-hide="vitrines" class="ng-hide">Aucune vitrine récupérée. Vérifiez votre connexion à Internet.</p>
        <p ng-show="vitrines">Liste des vitrines de l'ENSEIRB-MATMECA</p>
        
            <ion-list> <!-- Liste des vitrines -->
                
                <ion-item ng-repeat="elm in vitrines"
                ng-class="['vitrines', ''][$index %2]" class="item-thumbnail-left item-icon-right vitrines-item" type="item-text-wrap" href="#/tab/vitrine/{{elm.id}}">

                    <!-- Découpe l'image pour ne pas l'étirer -->
                    <div class="center-cropped item-image">
                        <img src="{{elm.cover}}">
                    </div>
                    <h2>{{elm.nom}}</h2>
                    <p>{{elm.nb_obj}} objets</p>
                    <i class="icon ion-chevron-right icon-accessory"></i>
                </ion-item>
              
            </ion-list>
    </ion-content>
</ion-view>

<!--
<ion-view view-title="Chats">
    
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="chat in chats" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
        <img ng-src="{{chat.face}}">
        <h2>{{chat.name}}</h2>
        <p>{{chat.lastText}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
-->
