<ion-view>
    <ion-nav-title>
        {{vitrine.nom}}
    </ion-nav-title>
    <ion-content class="padding">
        <h1>{{vitrine.nom}}</h1>
        
        <div class="list"> <!-- Liste des objets de la vitrine -->
            <a ng-repeat="elm in vitrine.objets" class="item item-text-wrap item-thumbnail-left objet-item" id="{{elm.id}}" href="#/tab/objet/{{elm.id}}">
                <!-- De même que tab-vitrines, découpe l'img -->
                <div class="center-cropped item-image">
                  <img src="{{elm.cover}}">
                </div>
                
                <h2>{{elm.nom}}</h2>
                <p>{{elm.annee || 'Date inconnue'}}</p>
            </a>
        </div>
    </ion-content>
</ion-view>
