/* Style personnel en + de ceux proposés par Ionic */

/* Ajout ici du style sur ng-hide, comme ça on peut configurer un
 * objet caché par défaut dès le lancement de la page, sans Angular */
.ng-hide {
    display:none;
}

.vitrines {
    margin-bottom:5px;
    margin-top:5px;
}

.vitrines a {
    background-color: #E3FFDC !important;
}

.button-float-left {
    float:left;
    margin-right:15px;
}

/* Cropped images */
/* http://stackoverflow.com/a/26921844 */
.center-cropped, .slider-slide {
  overflow:hidden;
}
.center-cropped img {
  min-width: 100%;
  left: 50%;
  top: 50%;
  position: relative;
  transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
}

.slider-slide .item-image {
    padding-bottom:100%;
    background-position:center center;
    background-repeat:no-repeat;
    background-size:contain;
}

/* ========================== Animations ============================ */
/* http://gonehybrid.com/how-to-animate-your-ionic-app-with-animate-css-and-nganimate/ */

.title-animated {
    animation: fadeInLeft 0.5s;
    -webkit-animation: fadeInLeft 0.5s;
}

ion-tabs p, .button-home {
    animation: fadeIn 0.5s;
    -webkit-animation: fadeIn 0.5s;
}

.button-home.ng-enter {
    animation: lightSpeedIn 1.5s;
    -webkit-animation: lightSpeedIn 1.5s;
}

.objet-item.ng-enter {
    -webkit-animation: flipInX 1s;
    animation: flipInX 1s;
}

.vitrines-item.ng-enter {
    -webkit-animation: fadeInLeft 1s;
    animation: fadeInLeft 1s;
}

.vitrines-item.ng-enter-stagger, .objet-item.ng-enter-stagger, .button-home.ng-enter-stagger {
  -webkit-animation-delay:200ms;
  animation-delay:200ms;

  /* override to make sure it's not inherited from other styles */
  -webkit-animation-duration:0;
  animation-duration:0;
}
.condition-anim{
    animation: fadeInDown 0.08s;
    -webkit-animation: fadeInDown 0.08s;
}

/* =========================== PAGE SEARCH =============================== */

/*.item-input input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: searchfield-cancel-button;
}

.item-input.custom input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
} */

ui-multi-range {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  position: relative;
  height: 50px;
}
ui-multi-range input[type=range] {
  position: absolute;
  display: block;
  width: 100%;
  margin: 0;
  padding: 0 2px;
  overflow: hidden;
  border: 0;
  border-radius: 1px;
  outline: none;
  pointer-events: none;
}
ui-multi-range input[type=range]:active, ui-multi-range input[type=range]:focus {
  outline: none;
}
ui-multi-range input[type=range]::-webkit-slider-thumb {
  position: relative;
  cursor: pointer;
  pointer-events: all;
}
ui-multi-range input[type=range]::-webkit-slider-thumb::before {
  content: ' ';
  display: block;
  position: absolute;
  top: 13px;
  left: 100%;
  width: 2000px;
  height: 2px;
}
ui-multi-range input[type=range]:nth-child(2) {
  background: none;
}
ui-multi-range input[type=range]:nth-child(2)::-webkit-slider-thumb::before {
  background-color: #ccc;
}

/* == Firefox == */
ui-multi-range input[type=range]::-moz-range-thumb {
  position: relative;
  cursor: pointer;
  pointer-events: all;
}
ui-multi-range input[type=range]::-moz-range-thumb::before {
  content: ' ';
  display: block;
  position: absolute;
  top: 13px;
  left: 100%;
  width: 2000px;
  height: 2px;
}
ui-multi-range input[type=range]:nth-child(2)::-moz-range-thumb::before {
  background-color: #ccc;
}

/* == Explorer == */
ui-multi-range input[type=range]::-ms-thumb {
  position: relative;
  cursor: pointer;
  pointer-events: all;
}
ui-multi-range input[type=range]::-ms-thumb::before {
  content: ' ';
  display: block;
  position: absolute;
  top: 13px;
  left: 100%;
  width: 2000px;
  height: 2px;
}
ui-multi-range input[type=range]:nth-child(2)::-ms-thumb::before {
  background-color: #ccc;
}
