<ion-view title="{{objet.nom}}">
        
    <ion-content class="padding">
        
        <ion-slide-box on-slide-changed="onSlideChanged(index)" active-slide="currentIndex">
            <ion-slide ng-repeat="elm in objet.imgs">
                <div class="item item-image">
                    <img src="{{elm.src}}"/>
                </div>
            </div>
        </ion-slide-box>
        
        <div class="card">
            <div class="item item-text-wrap">
                {{objet.description}}
            </div>
        </div>
    </ion-content>
</ion-view>
