<ion-view title="Vitrines">
    <ion-content class="padding">
        <h1 class="title">So much vitrines</h1>
        <div class="list">
<!--
            TODO => Change
            <a ng-repeat="elm in vitrines" class="item button button-full button-dark" id="{{elm._id.$oid}}" href="#/vitrine/{{elm.nom}}">{{elm.nom}}</a>
-->
            <a class="item button button-full button-dark" id="{{vitrines._id.$oid}}" href="#/vitrine/{{vitrines._id.$oid}}">{{vitrines.nom}}</a>
        </div>
    </ion-content>
</ion-view>
