.vitrines {
    margin-bottom:5px;
    margin-top:5px;
}

    .vitrines a {
        background-color: #DCE9FF !important;
    }

.button-float-left {
    float:left;
    margin-right:15px;
}
.item-input input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: searchfield-cancel-button;
}



.item-input.custom input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}