<ion-view title="{{objet.nom}}">
        
    <ion-content class="padding">
        
        <ion-slide-box on-slide-changed="onSlideChanged(index)" active-slide="currentIndex">
            <ion-slide ng-repeat="elm in objet.imgs">
                <div class="item item-image">
                    <img src="{{elm.src}}"/>
                </div>
            </div>
        </ion-slide-box>
        
        <h2>{{objet.nom}}</h2>
        
        
        <div class="card">
            <div class="item item-text-wrap item-outline item-light">
                <p>
                <button class="button button-positive button-float-left" href="#">{{objet.annee}}</button>
                {{objet.description}}
                </p>
            </div>
        </div>
    </ion-content>
</ion-view>
