<ion-view view-title="Télécom'thèque">
  <ion-content class="padding">
    <h1 class="title-animated">Télécom'tour</h1>
    <p>
        Bienvenue sur l'application de <b>visite virtuelle</b> de la <b>Télécom'thèque</b>.
    </p>
    
    <button ng-repeat="elm in buttonshome" class="button button-block button-outline button-{{elm.color}} icon-left ion-{{elm.icon}} button-home" ng-click="{{elm.click}}">
      {{elm.text}}
    </button>
    <a class="button button-block button-outline button-balanced icon-left ion-qr-scanner" href="#/tab/qrcode">
      Scanner un Qr Code
    </a>
    
    <h2 class="title-animated">À propos</h2>
    
    <p>Cette application de parcours virtuel de la Télécom'thèque a été créée dans le cadre du cours des Dr. Laurent Réveillère et Jean-Remy Falleri.</p>
    
    <h3>Équipe</h3>
    
    <p>Mai 2016, ENSEIRB-MATMECA - Télécommunications - 2<sup>ème</sup> année</p>
    
    <div class="list">

        <div class="item item-avatar" href="#">
          <img src="img/remi.jpg">
          <h2>Thibaut Gourdel</h2>
          <p><a href="http://thibaut.gourdel.fr">thibaut.gourdel.fr</a></p>
        </div>
        
        <div class="item item-avatar" href="#">
          <img src="img/remi.jpg">
          <h2>Paul Mendez</h2>
          <p><a href="https://www.linkedin.com/in/paul-mendez-437877113">LinkedIn</a></p>
        </div>
        
        <div class="item item-avatar">
          <img src="img/remi.jpg">
          <h2>Rémi Perrot</h2>
          <p><a href="http://remiperrot.fr">remiperrot.fr</a></p>
        </div>

    </div>
    
  </ion-content>
</ion-view>
