<ion-view view-title="Rechercher un objet">
  <ion-content class="padding"> 
    <button class="button button-block button-outline button-royal icon-left ion-qr-scanner button-home" href="#/tab/qrcode" ng-click="lireCode()">
      Scanner un QR-Code
    </button>
    
    <label class="item item-input"> <!-- Recherche -->
        <i class="icon ion-search placeholder-icon"></i>
        <input id="barsearch" type="search" placeholder="Rechercher..." ng-model="q.nom" ng-change="validSearch(q.nom,{{dates.amin}},{{dates.amax}})">
        <!-- Loader : -->
        <ion-spinner icon="ripple" class="spinner-positive" ng-hide="spinner"></ion-spinner>
    </label>
  <script>

    $(function () {

        $("#range").ionRangeSlider({
            hide_min_max: true,
            keyboard: true,
            min: 0,
            max: 5000,
            from: 1000,
            to: 4000,
            type: 'double',
            step: 1,
            grid: true
        });

    });
</script>

    <!-- Résultat de la recherche -->
    <ion-list>
       	<a ng-repeat="elm in search as results" class="item item-text-wrap item-thumbnail-left objet-item" href="#/tab/objet/{{elm.id}}">
        	<div class="center-cropped item-image">
                <img src="{{elm.cover}}"> <!-- tmp -->
           	</div>
        	<h2>{{elm.nom}}</h2>
        	<p>{{elm.annee || 'Date inconnue'}}</p>
        </a>
   	</ion-list>
    <p ng-if="results.length == 0 && q.nom.length>2">
          Pas de résultat trouvé ...
    </p>
  </ion-content>
</ion-view>
