<ion-view title="Vitrines">
    <ion-content class="padding">
        <h1 class="title">Vitrines</h1>
        
            <ion-list>
                <!-- ng-repeat="chat in chats" -->
              <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap" href="#/tab/vitrine/{{vitrines._id.$oid}}">
                  
<!--
            TODO => Change
            <a ng-repeat="elm in vitrines" class="item button button-full button-dark" id="{{elm._id.$oid}}" href="#/vitrine/{{elm.nom}}">{{elm.nom}}</a>
-->
                <img ng-src="{{vitrines._id.src}}">
                <h2>{{vitrines._id.nom}}</h2>
                <p>Blabla</p>
                <i class="icon ion-chevron-right icon-accessory"></i>

                <ion-option-button class="button-assertive" ng-click="remove(chat)">
                  Delete
                </ion-option-button>
              </ion-item>
            </ion-list>
        <div class="list">
            <a class="item button button-full button-dark" id="{{vitrines._id.$oid}}" href="#/vitrine/">{{vitrines.nom}}</a>
        </div>
    </ion-content>
</ion-view>

<!--
<ion-view view-title="Chats">
    
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="chat in chats" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
        <img ng-src="{{chat.face}}">
        <h2>{{chat.name}}</h2>
        <p>{{chat.lastText}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
-->
