<ion-view title="test">
    <ion-content class="padding">
        <h1>TEST</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In posuere nunc magna, id consectetur orci facilisis sit amet. Quisque gravida pretium odio, eget tincidunt lacus hendrerit vel. Etiam viverra, nibh sed aliquet gravida, eros quam laoreet lacus, et molestie neque leo in mauris. Cras facilisis congue malesuada. Cras dapibus accumsan leo, et ullamcorper orci imperdiet nec. Suspendisse at tortor quam. Curabitur nibh nulla, tincidunt eu dolor sed, imperdiet viverra eros. Fusce egestas sit amet felis ac sagittis. Suspendisse tristique, quam a tempor fermentum, lorem ipsum ultricies justo, eget mattis massa eros sed justo. Fusce non dignissim libero. Sed id sollicitudin est. Nullam pellentesque velit malesuada, viverra orci sit amet, volutpat nibh.</p>
    </ion-content>
</ion-view>
